# Kata 9: Uso de funciones

In [5]:
def averageTanks(tank1, tank2, tank3):
    average=(tank1+tank2+tank3)/3
    return f'''
    Reporte de los tanques de la nave actuales:
    Oxigeno: {tank1}%
    Agua: {tank2}%
    Combustible {tank3}%

    El promedio es {average}
    '''

In [6]:
print( averageTanks(100,100,80))

    Reporte de los tanques de la nave actuales:
    Oxigeno: 100%
    Agua: 100%
    Combustible 80%

    El promedio es 93.33333333333333

In [7]:
def averageTanks(tank1, tank2, tank3):
    average=(tank1+tank2+tank3)/3
    return average

In [10]:
def tanksReport(tank1, tank2, tank3):
    average=averageTanks(tank1, tank2, tank3)
    return f'''
    Reporte de los tanques de la nave actuales:
    Oxigeno: {tank1}%
    Agua: {tank2}%
    Combustible {tank3}%

    El promedio es {average}
    '''
print( tanksReport(100,100,80))

    Reporte de los tanques de la nave actuales:
    Oxigeno: 100%
    Agua: 100%
    Combustible 80%

    El promedio es 93.33333333333333

In [11]:
def missionReport(prelaunch_hour, flight_time, destination, external_tank, internal_tank):
     return f"""
    Mision: {destination}
    Tiempo de viaje total: {prelaunch_hour + flight_time} minutos
    Total de combustible restante: {external_tank + internal_tank} lts
    """
print(missionReport(14, 51, "Luna", 144425, 5554114))

    Mision: Luna
    Tiempo de viaje total: 65 minutos
    Total de combustible restante: 5698539 lts

In [17]:
def missionReport(destination, *time_in_minutes, **fuel_tanks ):
     return f"""
    Mision: {destination}
    Tiempo de viaje total: {sum(time_in_minutes)} minutos
    Total de combustible restante: {sum(fuel_tanks.values())} lts
    """
print(missionReport("luna",14, 51, tank1=144425, tank2=5554114))

    Mision: luna
    Tiempo de viaje total: 65 minutos
    Total de combustible restante: 5698539 lts

In [18]:
def missionReport(destination, *time_in_minutes, **fuel_tanks ):
    report= f"""
    Mision: {destination}
    Tiempo de viaje total: {sum(time_in_minutes)} minutos
    Total de combustible restante: {sum(fuel_tanks.values())} lts
    """
    for tank_name, value in fuel_tanks.items():
       report += f"{tank_name} tanque: {value} lts\n"
    return report
print(missionReport("luna",14, 51, tank1=144425, tank2=5554114))

    Mision: luna
    Tiempo de viaje total: 65 minutos
    Total de combustible restante: 5698539 lts
    tank1 tanque: 144425 lts
tank2 tanque: 5554114 lts